/* genius solution ik */
.anidelay-0 {
	animation-delay: 0.5s;
}
.anidelay-1 {
	animation-delay: 0.6s;
}
.anidelay-2 {
	animation-delay: 0.7s;
}
.anidelay-3 {
	animation-delay: 0.8s;
}
.anidelay-4 {
	animation-delay: 0.9s;
}
.anidelay-5 {
	animation-delay: 1s;
}
.anidelay-6 {
	animation-delay: 1.1s;
}
.anidelay-7 {
	animation-delay: 1.2s;
}
.anidelay-8 {
	animation-delay: 1.3s;
}
.anidelay-9 {
	animation-delay: 1.4s;
}
.anidelay-10 {
	animation-delay: 1.5s;
}
.anidelay-11 {
	animation-delay: 1.6s;
}
.anidelay-12 {
	animation-delay: 1.7s;
}
.anidelay-13 {
	animation-delay: 1.8s;
}
.anidelay-14 {
	animation-delay: 1.9s;
}
.anidelay-15 {
	animation-delay: 2s;
}
.anidelay-16 {
	animation-delay: 2.1s;
}
.anidelay-17 {
	animation-delay: 2.2s;
}
.anidelay-18 {
	animation-delay: 2.3s;
}
.anidelay-19 {
	animation-delay: 2.4s;
}
.anidelay-20 {
	animation-delay: 2.5s;
}
.anidelay-21 {
	animation-delay: 2.6s;
}
.anidelay-22 {
	animation-delay: 2.7s;
}
.anidelay-23 {
	animation-delay: 2.8s;
}
.anidelay-24 {
	animation-delay: 2.9s;
}
.anidelay-25 {
	animation-delay: 3s;
}
.anidelay-26 {
	animation-delay: 3.1s;
}
.anidelay-27 {
	animation-delay: 3.2s;
}
.anidelay-28 {
	animation-delay: 3.3s;
}
.anidelay-29 {
	animation-delay: 3.4s;
}
.anidelay-30 {
	animation-delay: 3.5s;
}
.anidelay-31 {
	animation-delay: 3.6s;
}
.anidelay-32 {
	animation-delay: 3.7s;
}
.anidelay-33 {
	animation-delay: 3.8s;
}
.anidelay-34 {
	animation-delay: 3.9s;
}
.anidelay-35 {
	animation-delay: 4s;
}
.anidelay-36 {
	animation-delay: 4.1s;
}
.anidelay-37 {
	animation-delay: 4.2s;
}
.anidelay-38 {
	animation-delay: 4.3s;
}
.anidelay-39 {
	animation-delay: 4.4s;
}
.anidelay-40 {
	animation-delay: 4.5s;
}